<div class='container'>
    <h3>　コメント一覧 </h3>
    <table class="table table-hover">
        <thead>
            <th class='col-sm-3'>
                <h4>投稿者</h4>
            </th>
            <th class='col-sm-7'>
                <h4>コメント</h4>
            </th>
        </thead>
        <div class='jscroll'>
            <div class='row border-bottom py-1'>
                <tbody>
                    <% @comments.each do |comment| %>
                        <tr>
                            <td class='col-sm-3'>
                                <%= comment.customer.nickname %>
                            </td>
                            <td class='col-sm-7'>
                                <%= comment.body %>
                            </td>
                            <td class='col-sm-2'>
                                <%= link_to "Destroy", admin_comment_path(comment.id), class: 'btn btn-sm btn-danger edit_post_#{@post.id}', method: :delete, "data-confirm" => "本当に消しますか？" %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </div>
        </div>
    </table>
</div>