<div class =container>
<h1>　</h1>
<h3>プロフィール</h3>
    
    <tr>
      <td><%= image_tag customer.get_profile_image(100,100) %></td>
    </tr>
    
    <tr>
      <td><%= customer.nickname %></td>
    </tr></br>
      <% if customer.email == 'guest@test.com' %>
        <a id="guest">#ゲストユーザーは編集できません</a>
      <% elsif customer == current_customer %>
       <%= link_to edit_customer_customer_path(customer) do %>
        <button type="button" class="btn btn-online-dark">編集する</button>
       <% end %>
      <% end %>
 
     <p>
      <%= link_to favorite_customer_customer_path(customer) do %>
      <button type="button" class="btn btn-online-dark">いいね一覧</button><% end %>
    </p>
</div>
    
     