<div class ="container mt-5">
<h3>プロフィール</h3>
    
    <tr>
      <td><%= image_tag customer.get_profile_image(100,100), {class: "icon"} %></td>
    </tr>
    
    <tr>
      <font size="5"><%= customer.nickname %></font>
    </tr></br>
      <% if customer.email == 'guest@test.com' %>
        <a id="guest">#ゲストユーザーは編集できません</a>
      <% elsif customer == current_customer %>
       <%= link_to edit_customer_customer_path(customer) do %>
        <button type="button" class="btn btn-outline-dark my-2">編集する</button>
       <% end %>
      <% end %>
 
     <p>
      <%= link_to favorite_customer_customer_path(customer) do %>
      <button type="button" class="btn btn-outline-dark">いいね一覧</button><% end %>
    </p>
</div>
    
     