<div class="container px-5 px-sm0">
   <div class="row">
    <div class="col-md-3">
    
    <div class="col-md-8 offset-md-1"> 
     <h2>いいね一覧</h2>
     <table class="table table-hover table-inverse">
    <!-- <thead>-->
    <!--</thead>-->
    
     <tbody>
      <% @favorite_posts.each do |post| %>
      <tr>
       <!--<td>-->
       <!-- <%#= link_to customer_customer_path(post.customer.id) do %>-->
        <%#= image_tag post.customer.get_profile_image(100,100) %>
       <!-- <%# end %>-->
       <!--</td>-->
       <!--<td>-->
        <%#= link_to customer_post_path(post.id) do %>
        <%= post.introduction %>
        <%# end %>
       <!--</td>-->
       <!--<td>-->
       <!-- <%#= book.body %>-->
       <!--</td>-->
      </tr>
      <% end %>
     </tbody>
    </table>
    </div>