<p class="text-center"><%= image_tag "image2.png", size: "1000x400" %></p>
<ul class="nav justify-content-end">
<a href="#" class="mx-1 text-dark"><i class="fab fa-twitter fa-lg"></i></a>
<a href="#" class="mx-5 text-dark"><i class="fab fa-instagram fa-lg"></i></a>
<a href="#" class="mx-1 text-dark"><i class="fab fa-facebook-square"></i></a>
<a href="#" class="mx-5 text-dark"><i class="far fa-envelope fa-lg"></i></a>
<br>
</ul>