<div class= "container-fulid" >
    <div class= "row" >
        <div class= "col-1" ></div>
        <div class= "col-6" >
           <p class><%= image_tag "2.png", size: "700x700" %></p>
        </div>
        <div class= "col-2 md-10" >
            <div align="center">
              <p>文章</p>
           </div>
        </div>
    </div>
</div>

<div class= "container-fulid" >
    <div class= "row" >
        <div class= "col-3" ></div>
          <div class= "col-2 md-10" >
            <div align="center">
              <p>文章</p>
            </div>
          </div>
        <div class= "col-6" >
           <p class><%= image_tag "16.png", size: "700x700" %></p>
        </div>
    </div>
</div>

<div class= "container-fulid" >
    <div class= "row" >
        <div class= "col-1" ></div>
        <div class= "col-7" >
           <p class><%= image_tag "13.png", size: "700x700" %></p>
        </div>
        <div class= "col-2 md-10" >
            <div align="center">
              <p>文章</p>
           </div>
        </div>
    </div>
</div>

<div class= "container-fulid" >
    <div class= "row" >
        <div class= "col-3" ></div>
          <div class= "col-2 md-10" >
            <div align="center">
              <p>文章</p>
            </div>
          </div>
        <div class= "col-6" >
           <p class><%= image_tag "12.png", size: "700x700" %></p>
        </div>
    </div>
</div>
