<%= image_tag asset_path("haikei_image.png"), class: 'img-fluid mv' %>

<div class="container mt-5 left">
    <div class="row">
        <div class="order-1 order-lg-0 col-lg-4 mt-5 mt-lg-0 about-box">
            <h3 class="my-5">ABOUT</h3>
            <p>ここでは、日々のコーディネートを投稿したり</p>
            <p>いろんな人のファッションを見ることができる</p>
            <p>コミュニティサイトです。</p>
            <p>このサイトを使って</p>
            <p>おしゃれを楽しみましょう！</p>
        </div>
        <div class="order-0 order-lg-1 col-lg-8">
            <%= image_tag asset_path("top1.jpg"), class: 'img-fluid' %>
        </div>
    </div>
</div>

<div class="container mt-5 right">
    <div class="row">
        <div class="order-1 order-lg-1 col-lg-4 mt-5 mt-lg-0 text-center about-box">
            <p style="margin-top: 120px;">Fashion has two purposes, </p>
            <p>comfort and love. </p>
            <p>Beauty comes </p>
            <p>when fashion succeeds.</p>
            <ul class="list-unstyled list-inline mt-4">
                <li class="list-inline-item"><a href="#" class="text-dark"><i class="fab fa-facebook fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-dark"><i class="fab fa-twitter fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-dark"><i class="fab fa-instagram fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-dark"><i class="far fa-envelope fa-fw"></i></a></li>
            </ul>
        </div>
        <div class="order-0 order-lg-0 col-lg-8">
            <%= image_tag asset_path("top2.jpeg"), class: 'img-fluid' %>
        </div>
    </div>
</div>
