<%= image_tag asset_path("haikei_image.png"), class: 'img-fluid mv' %>

<div class="container mt-5">
    <div class="row">
        <div class="order-1 order-lg-0 col-lg-4 mt-5 mt-lg-0 about-box">
            <h3>ABOUT</h3>
            <p>コロナ禍で外出の機会が減り雑誌の売り上げが大幅に下がった今、インターネット上で </p>
            <p>トレンドを知り欲しい服・ファッションアイテムが増え、消費者の購買意欲を上げたいと思いこのテーマにしました。</p>
            <p>また、自分のコーディネートを記録したりほかの人のファッションを参考にすることで、</p>
            <p>おしゃれを楽しみたいという気持ちがより大きくなるのではないかと考えました。</p>
        </div>
        <div class="order-0 order-lg-1 col-lg-8">
            <%= image_tag asset_path("top1.jpg"), class: 'img-fluid' %>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="order-1 order-lg-1 col-lg-4 mt-5 mt-lg-0 text-center about-box">
            <p>Fashion has two purposes, </p>
            <p>comfort and love. </p>
            <p>Beauty comes </p>
            <p>when fashion succeeds.</p>
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item"><a href="#" class="text-dark"><i class="fab fa-facebook fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-dark"><i class="fab fa-twitter fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-dark"><i class="fab fa-instagram fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-dark"><i class="far fa-envelope fa-fw"></i></a></li>
            </ul>
        </div>
        <div class="order-0 order-lg-0 col-lg-8">
            <%= image_tag asset_path("top2.jpeg"), class: 'img-fluid' %>
        </div>
    </div>
</div>
