<%= image_tag 'haikei_image.png', size: "1525x820" %>

<div class= "container-fulid" >
    <h1>　</h1>
    <h2>　</h2>
</div>

<div class= "container-fulid" >
    <div class= "row" >
        <div class= "col-1" ></div>
          <div class= "col-4 md-5" >
            <div align= left>
              <h1>　</h1>
              <p>ABOUT</p>
              <p>コロナ禍で外出の機会が減り雑誌の売り上げが大幅に下がった今、インターネット上で </p></br>
              <p>トレンドを知り欲しい服・ファッションアイテムが増え、消費者の購買意欲を上げたいと思いこのテーマにしました。</P></br>
              <p>また、自分のコーディネートを記録したりほかの人のファッションを参考にすることで、</p></br>
              <p>おしゃれを楽しみたいという気持ちがより大きくなるのではないかと考えました。</p>
            </div>
          </div>
        <div class= "col-7" >
           <p><%= image_tag "top1.jpg", size: "900x600" %></p>
        </div>
    </div>
</div>

<div class= "container-fulid" >
    <h1>　</h1>
    <h2>　</h2>
</div>


<div class= "container-fulid" >
    <div class= "row" >
        <div class= "col-8" >
           <p><%= image_tag "top2.jpeg", size: "900x600" %></p>
        </div>
        <div class= "col-4" >
            <div class= left>
                <h1>　</h1>
                <h1>　</h1>
                <p>Fashion has two purposes, </p></br>
                <p>comfort and love. </p></br>
                <p>Beauty comes </p></br>
                <p>when fashion succeeds.</p></br>
                <h3>　</h3></br>
                <ul class="nav justify-content-left">
                <p><a href="#" class="mx-1 text-dark"><i class="fab fa-twitter fa-lg"></i></a></p>
                <p><a href="#" class="mx-5 text-dark"><i class="fab fa-instagram fa-lg"></i></a></p>
                <p><a href="#" class="mx-1 text-dark"><i class="fab fa-facebook-square"></i></a></p>
                <p><a href="#" class="mx-5 text-dark"><i class="far fa-envelope fa-lg"></i></a></p>
                <br>
                </ul>
           </div>
        </div>
    </div>
</div>
