<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-7 mx-auto mt-5">
   <div class='post-card-contents'>
    <div style="text-align: center" >
     <h2>フォロー一覧</h2>
    </div>
     <% @customers.each do |customer| %>
       <div class='post-lists mt-5 '>
         <div class="shadow p-3 mb-5 bg-white rounded">
          <div class="card">
           <div class="card-body">
            <h5 class="card-title"><%= image_tag customer.get_profile_image(70,70), {class: "icon"} %>
            　<%= link_to customer_customer_path(customer.id) do %><%= customer.nickname %><% end %>
            　<%= render "/customer/relationships/follow_button", customer: customer %>
            　
            　<% if customer.following?(current_customer) %>
               <%# relationship = current_customer.relationships.find_by(follow_id: customer.id) %>
                フォローされています
             <!--<%# else %>-->
             <!--  <%#= form_with model:current_customer.relationships.build, url: customer_relationships_path do |f| %>-->
             <!--    <%#= hidden_field_tag :follow_id, customer.id %>-->
             <!--  <%# end %>-->
              <% end %>
             
            </h5>
           </div>
          </div>
         </div>
       </div>
     <% end %>
   </div>
  </div>
 </div>
</div> 