@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


/* すべての画面サイズで適用される設定 */
.social i {
  color:black;
}
/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {
  .social i {
    color: green;
  }
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  .social i {
    color: red;
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
  .social i {
    color: blue;
  }
}

.css-table {
    a{
    text-decoration: none;
    }
}


