@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.res {
  
}
/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {
  .res {
  }
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  .res {
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
}

.css-table {
    a{
    text-decoration: none;
    }
}

.icon {
  border-radius: 50%;
}

.card_image {
  width: 100%;
}

.card-body {
  background-color: #EEEEEE;
  border-bottom: solid 3px #87CEFA;
}