<!--自分のIDを渡す-->
<!--NCのitems_controller 上と-->
<!--view/public/homes/_genre_indexを参考-->

<h3>投稿一覧</h3>
<%= @posts.each do |post| %>
  <%= post.introduction %>
   <% if post.image.attached? %>
    <%= image_tag post.image, size: "200x200" %>
   <% else %>
    <%= image_tag 'no_image.jpeg', size: "200x200" %>
   <% end %>
<% end %>