<!--自分のIDを渡す-->
<!--NCのitems_controller 上と-->
<!--view/public/homes/_genre_indexを参考-->

<h3>投稿一覧</h3>
<%# if @post.customer == current_customer %>

 <% @posts.each do |post| %>
  <%= post.customer.nickname %>
  <%= link_to customer_post_path(post.id) do %>
   <%#= post.introduction %>
    <% if post.image.attached? %>
     <%= image_tag post.image, size: "200x200" %>
    <% else %>
     <%= image_tag 'no_image.jpeg', size: "200x200" %>
    <% end %>
    
     
     <%#= image_tag post.image, size: '340x260' if post.image.attached? %>
    <% end %>
 <% end %>
<%# end %>