<a href="#" class="mx-1 text-dark"><i class="fab fa-twitter fa-lg"></i></a>
<a href="#" class="mx-5 text-dark"><i class="fab fa-instagram fa-lg"></i></a>
<a href="#" class="mx-1 text-dark"><i class="fab fa-facebook-square"></i></a>
<a href="#" class="mx-5 text-dark"><i class="far fa-envelope fa-lg"></i></a>
<p class="text-center">©  </p>
